<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <title>Coffe & Books</title>
</head>

<body>
    <header>
        <!-- Divs con clase titulo y burger para cel-->
        <div class="titulo">
            <h1>Coffe & Books</h1>
        </div>
        <div class="left-side">
            <a href="/">INICIO</a>
            <a href="#">LIBROS</a>
        </div>
        <div class="logo-header">
            <img src="" alt="Logo">
        </div>
        <div class="right-side">
            <a href="/login" class="account">INICIAR SESION</a>
            <a href="/register" class="account">REGISTRARSE</a>
            <a href="/productCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <section class="librosMasVendidos">
            <h2>Libros más vendidos</h2>
            <div class="products">
                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                   <a href="/productDetail" class="product_detail"> <button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>
            </div>
        </section>

        <section class="offers">
            <h2>Ofertas imperdibles</h2>
            <div class="products">
                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>
            </div>
        </section>

        <section class="interest">
            <h2>También podría interesarte</h2>
            <div class="products">
                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>

                <article>
                    <img src="images/They_Both_Die_At_The_End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <button class="btn-compra"> Comprar </button>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-top">
            <div class="footer-left">
                <div class="logo-footer">
                    <img src="" alt="Logo">
                </div>
                <div class="contacts">
                    <h4>+54 (7635) 547-12-97</h4>
                    <p>SoporteTecnicoC&B@gmail.com</p>
                </div>
            </div>

            <div class="footer-mid">
                <h4>Mapa del sitio</h4>
                <div class="text">
                    <p>Libros</p>
                    <p>Sobre nosotros</p>
                    <p>Información</p>
                </div>
            </div>

            <div class="footer-bot">
                <div class="redes">
                    <h4>Siguenos en:</h4>
                    <p><i class="fa-brands fa-facebook"></i>Coffe&Books</p>
                    <p><i class="fa-brands fa-instagram"></i>Coffe&Books</p>
                </div>
            </div>
        </div>

        <div class="copyright">
            <span>Copyright © 2023 Coffe & Books.Todos los derechos reservados.</span>
        </div>
    </footer>
</body>

</html>