<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Coffe & Books</title>
</head>

<body>
    <header>
        <div class="titulo">
            <h1>Coffe & Books</h1>
        </div>
        <div class="left-side">
            <a href="/" class="home">INICIO</a>
            <a href="#offers" class="books">LIBROS</a>
        </div>
        <div class="logo-header">
            <img src="Images/Logo.png" alt="Logo">
        </div>
        <div class="right-side">
            <a href="/login" class="account">INICIAR SESION</a>
            <a href="/register" class="account">REGISTRARSE</a>
            <a href="/productCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <section class="librosMasVendidos">
            <h2>Libros más vendidos</h2>
            <div class="products">
                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>
            </div>
        </section>

        <section class="offers" id="offers">
            <h2>Ofertas imperdibles</h2>
            <div class="products">
                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>
            </div>
        </section>

        <section class="interest">
            <h2>También podría interesarte</h2>
            <div class="products">
                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>

                <article>
                    <img src="Images/They-Both-Die-At-The-End.jpg">
                    <div class="main-article">
                        <h4 class="title">They both die at the end</h4>
                        <h5 class="author">Adam Silvera</h5>
                        <p class="price">$6.770</p>
                    </div>
                    <a href="/productDetail"><button class="btn-compra"> Comprar </button></a>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-top">
            <div class="footer-left">
                <h4>Soporte</h4>
                <div class="contacts">
                    <h4>+54 (7635) 547-12-97</h4>
                    <p>SoporteTecnicoC&B@gmail.com</p>
                </div>
            </div>

            <div class="footer-mid">
                <div class="title">
                    <h4>Mapa del sitio</h4>
                </div>
                <div class="text">
                    <p>Libros</p>
                    <p>Sobre nosotros</p>
                    <p>Información</p>
                </div>
            </div>

            <div class="footer-right">
                <div class="redes">
                    <h4>Siguenos en:</h4>
                    <a href="/"><i class="fa-brands fa-instagram"></i>Coffe&Books</a>
                    <a href="/"><i class="fa-brands fa-twitter"></i>Coffe&Books</a>
                    <a href="/"><i class="fa-brands fa-facebook"></i>Coffe&Books</a>
                </div>
                <div class="subscribe">
                    <h4>Suscribete</h4>
                    <div class="mail">
                        <form action="/" method="post">
                            <input type="mail" name="subscribe" id="sub" placeholder="Obten avisos de productos"
                                minlength="3" required>
                            <button type="submit" title="suscribe"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-info">
            <div class="redes">
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="logoCopy">
                <span>Productos de </span>
                <img src="Images/Logo.png" alt="logo" width="7%">
            </div>
            <div class="copyright-txt">
                <span>© 2023 Coffe & Books.Todos los derechos reservados.</span>
            </div>
        </div>
    </footer>
</body>

</html>