<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-login.css">
    <title>Coffe&Books</title>
</head>
<body>
    <nav>

    </nav>
    <main>
        <div class="box-formulario">
            
            <div class="Caja-form">
              <form  method="POST">
                  <div class="Formulario">
                    <div class="input-user">
                        <input
                        type="text"
                        name="nombreUsuario"
                        id="nombreUsuario"
                        placeholder="Ingrese Nombre de Usuario"
                        class="inputs"
                        />
                        <label for="firstname" class="input-label"> Nombre de Usuario</label>
                    </div>
                    <div class="input-pass">
                        <input
                        type="password"
                        name="contraUsuario"
                        id="contraUsuario"
                        placeholder="Ingrese su contraseña"
                        class="inputs"
                        />
                        <label for="contraUsuario" class="input-label"> Contraseña </label>
                        
                    
                    </div> 
                    <input type="checkbox" name="input-recordar" value="recordar">Recordar contraseña
                  </div>
                  <p><a href="">¿Olvidó su contraseña?</a></p>
                  <button class="btn-Iniciar">
                      Iniciar Sesion
                  </button>
                  
                  </div>
             
          
              </form>
            </div>
          </div>
          
    </main>
    <footer>

    </footer>
</body>
</html>