<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-login.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Coffe&Books</title>
</head>

<body>
    <header>
        <div class="titulo">
            <h1>Coffe & Books</h1>
        </div>
        <div class="left-side">
            <a href="/">INICIO</a>
            <a href="#offers">LIBROS</a>
        </div>
        <div class="logo-header">
            <img src="Images/Logo.png" alt="Logo">
        </div>
        <div class="right-side">
            <a href="/login" class="account">INICIAR SESION</a>
            <a href="/register" class="account">REGISTRARSE</a>
            <a href="/productCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <div class="box-formulario">

            <div class="Caja-form">
                <form action="/" method="post">
                    <div class="Formulario">
                        <div class="input-user">

                            <label for="firstname" class="input-label"> Nombre de Usuario</label>
                            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Ingrese Usuario"
                                class="inputs" minlength="3" required />


                            <label for="contraUsuario" class="input-label"> Contraseña </label>
                            <input type="password" name="contraUsuario" id="contraUsuario"
                                placeholder="Ingrese su contraseña" class="inputs" minlength="3" required />
                        </div>
                        <div>
                            <p><a href="/">¿Olvidó su contraseña?</a></p>
                            <div class="input-password">
                                <label id="check-pass" for="pass-check">Recordar contraseña</label>
                                <input type="checkbox" id="pass-check">
                                
                            </div>
                        </div>
                        <a href="/"><button class="btn-Iniciar" type="submit">
                            Iniciar Sesion
                        </button></a>
                    </div>




            </div>


            </form>
        </div>
        </div>

    </main>
    <footer>
        <div class="footer-top">
            <div class="footer-left">
                <h4>Soporte</h4>
                <div class="contacts">
                    <h4>+54 (7635) 547-12-97</h4>
                    <p>SoporteTecnicoC&B@gmail.com</p>
                </div>
            </div>

            <div class="footer-mid">
                <div class="title">
                    <h4>Mapa del sitio</h4>
                </div>
                <div class="text">
                    <p>Libros</p>
                    <p>Sobre nosotros</p>
                    <p>Información</p>
                </div>
            </div>

            <div class="footer-right">
                <div class="redes">
                    <h4>Siguenos en:</h4>
                    <a href="/"><i class="fa-brands fa-instagram"></i>Coffe&Books</a>
                    <a href="/"><i class="fa-brands fa-twitter"></i>Coffe&Books</a>
                    <a href="/"><i class="fa-brands fa-facebook"></i>Coffe&Books</a>
                </div>
                <div class="subscribe">
                    <h4>Suscribete</h4>
                    <div class="mail">
                        <form action="/" method="post">
                            <input type="mail" name="subscribe" id="sub" placeholder="Obten avisos de productos"
                                minlength="3" required>
                            <button type="submit" title="suscribe"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-info">
            <div class="redes">
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="logoCopy">
                <span>Productos de </span>
                <img src="Images/Logo.png" alt="logo" width="7%">
            </div>
            <div class="copyright-txt">
                <span>© 2023 Coffe & Books.Todos los derechos reservados.</span>
            </div>
        </div>
    </footer>
</body>

</html>