<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-login.css">
    <title>Coffe&Books</title>
</head>
<body>
    <nav>

    </nav>
    <main>
        <form>
            <div class="labels">
            <label for="usuario">Nombre usuario</label><br>
            <input type="text" id="usuario" name="usuario">
            <label for="contraseña">Ingrese su contraseña</label><br>
            <input type="password" id="contraseña" name="contraseña">
        </div>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>