<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Coffe & Books</title>
</head>
<body>
    <header>
        <!-- Divs con clase titulo y burger para cel-->
        <div class="titulo">
            <h1>Coffe & Books</h1>
        </div>
        <div class="left-side">
            <a href="/">INICIO</a>
            <a href="#offers">LIBROS</a>
        </div>
        <div class="logo-header">
            <img src="Images/Logo.png" alt="Logo">
        </div>
        <div class="right-side">
            <a href="/login" class="account">INICIAR SESION</a>
            <a href="/register" class="account">REGISTRARSE</a>
            <a href="/productCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

        <div>
            <div class="image">
                <img src="Images/They-Both-Die-At-The-End.jpg">
            </div>
        </div>
</body>
</html>