<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/styles-carrito.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Coffe&Books</title>
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
</head>

<body>
    <header>
        <div class="titulo">
            <h1>Coffe & Books</h1>
        </div>
        <div class="left-side">
            <a href="/">INICIO</a>
            <a href="#offers">LIBROS</a>
        </div>
        <div class="logo-header">
            <img src="Images/Logo.png" alt="Logo">
        </div>
        <div class="right-side">
            <a href="/login" class="account">INICIAR SESION</a>
            <a href="/register" class="account">REGISTRARSE</a>
            <a href="/productCart" class="cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <div class="titular">
        <h1><i class="fa-solid fa-cart-shopping"> </i> Carrito de compras</h1>
        </div>
        <section class="carrito">
            <article>
                    <div class="izquierda">
                        <img src="Images/Heartless.jpg" alt="img">
                        <div class="info">
                            <h1><strong>Heartless</strong></h1>
                            <h5>Autora: Marissa Meyer</h5>
                            <p>Stock no disponible</p>
                        </div>
                    </div>
                    <div class="derecha">
                        <p>$18.99 Arg</p>
                        <input type="number" value="1"> <br>
                        <button type="#">Remove</button>
                    </div>
            </article>

            <article>
                    <div class="izquierda">
                        <img src="Images/Heartless.jpg" alt="img">
                        <div class="info">
                            <h1>Heartless</h1>
                            <h5>Autora: Marissa Meyer</h5>
                            <p>Stock no disponible</p>
                        </div>
                    </div>
                    <div class="derecha">
                        <p>$18.99 Arg</p>
                        <input type="number" value="1"> <br>
                        <button type="#">Remove</button>
                    </div>
            </article>

            <article>
                    <div class="izquierda">
                        <img src="Images/Heartless.jpg" alt="img">
                        <div class="info">
                            <h1>Heartless</h1>
                            <h5>Autora: Marissa Meyer</h5>
                            <p>Stock no disponible</p>
                        </div>
                    </div>
                    <div class="derecha">
                        <p>$18.99 Arg</p>
                        <input type="number" value="1"> <br>
                        <button type="3">Remove</button>
                    </div>
            </article>
            <article>
                <div class="total">
                    <h1>Precio adjunto:</h1> 
                    <p> $56.97 Arg</p> <br>
                    <h1>Descuentos:</h1>
                     <p> -$3.0 arg</p><br>
                    <h1>Total: </h1> 
                    <p> $53.97 Arg</p> <br>
                    <button type="#">Realizar Compra</button>
                </div>
            </article>  
        </section>
      
    </main>

    <footer>
        <div class="footer-top">
            <div class="footer-left">
                <h4>Soporte</h4>
                <div class="contacts">
                    <h4>+54 (7635) 547-12-97</h4>
                    <p>SoporteTecnicoC&B@gmail.com</p>
                </div>
            </div>

            <div class="footer-mid">
                <div class="title">
                    <h4>Mapa del sitio</h4>
                </div>
                <div class="text">
                    <p>Libros</p>
                    <p>Sobre nosotros</p>
                    <p>Información</p>
                </div>
            </div>

            <div class="footer-right">
                <div class="redes">
                    <h4>Siguenos en:</h4>
                    <a href="/"><i class="fa-brands fa-instagram"></i>Coffe&Books</a>
                    <a href="/"><i class="fa-brands fa-twitter"></i>Coffe&Books</a>
                    <a href="/"><i class="fa-brands fa-facebook"></i>Coffe&Books</a>
                </div>
                <div class="subscribe">
                    <h4>Suscribete</h4>
                    <div class="mail">
                        <form action="/" method="post">
                            <input type="mail" name="subscribe" id="sub" placeholder="Obten avisos de productos"
                                minlength="3" required>
                            <button type="submit" title="suscribe"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-info">
            <div class="redes">
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="logoCopy">
                <span>Productos de </span>
                <img src="Images/Logo.png" alt="logo" width="7%">
            </div>
            <div class="copyright-txt">
                <span>© 2023 Coffe & Books.Todos los derechos reservados.</span>
            </div>
        </div>
    </footer>
</body>

</html>