<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-register.css">
    <title>Coffe&Books</title>
</head>
<body>
   
    <main>
        <div class="box-formulario">
            
            <div class="Caja-form">
              <form  method="POST">
                  <div class="Formulario">
                    <div class="input-user">
                         <input
                        type="password"
                        name="contraUsuario"
                        id="contraUsuario"
                        placeholder="Ingrese su contraseña"
                        class="inputs"
                        />
                        <label for="contraUsuario" class="input-label"> Contraseña </label>
                       
                        <input
                        type="text"
                        name="nombreUsuario"
                        id="nombreUsuario"
                        placeholder="Ingrese Usuario"
                        class="inputs"
                        />
                        <label for="firstname" class="input-label"> Nombre de Usuario</label>
                    </div>
                    <div class="input-pass">
                        <input
                        type="password"
                        name="contraUsuario"
                        id="contraUsuario"
                        placeholder="Ingrese su contraseña"
                        class="inputs"
                        />
                        <label for="firstname" class="input-label"> Repita su contraseña</label>
                        <input
                        type="text"
                        name="correoUsuario"
                        id="correoUsuario"
                        placeholder="Ingrese su correo"
                        class="inputs"
                        />
                        <label for="firstname" class="input-label"> Correo Electronico</label>
                        
                    
                    </div><br>
                    <button class="btn-Iniciar">
                      Registrarse
                  </button>
                </div>
                  
                  
                  
                  
                  </div>
             
          
              </form>
            </div>
          </div>
          
    </main>
    <footer>

    </footer>
</body>
</html>