* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../Images/Background-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
    font-family: 'Roboto';
}

header {
    display: flex;
    background-color: #a6d5eb;
}

main section.offers,
main section.librosMasVendidos,
main section.interest {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 7vh 0px;
    border-radius: 30px;
}

main section div.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vh 3vw 3vh 3vw;
}

main section h2 {
    margin: 10px 0px;
}

main section article {
    margin: 10px 0px;
}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    display: flex;
    padding: 15px;
    flex-direction: column;
}

/* boton de compra */

main section article button.btn-compra {
    padding: 20px 45px;
    border-radius: 25px;
    border-style: none;
    box-shadow: 0 5px 10px rgb(0 0 0 / 52%);
    background-color: #a6d5eb;
    cursor: pointer;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #a6d5eb;
}

footer div.copyright-info {
    background-color: #93c8e1;
}

footer div.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

footer div.footer-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

footer div.footer-top .footer-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

@media (min-width: 361px) {
    header {
        justify-content: space-between;
        align-items: center;
    }

    header div.titulo {
        display: flex;
        flex: 2;
    }

    header div.logo-header {
        display: flex;
        flex: 1;
    }

    header div.logo-header img {
        width: 100%;
    }

    header h1 {
        padding-left: 4vw;
        font-size: 1.6em;
    }

    header div.left-side {
        display: none;
    }

    header div.right-side {
        display: none;
    }

    main {
        width: 90%;
        margin: 0 auto;
    }


    main section article img {
        width: 30vw;
    }

    div.burger-menu {
        display: flex;
        flex: 2;
        justify-content: flex-end;
        text-align: center;
    }

    div.burger-menu i {
        font-size: 3.5em;
        margin: 5vw 7vw 5vw 0px;
        padding: 1vw;
    }

    footer div.footer-top {
        display: flex;
        justify-content: space-between;
        padding: 2vh;
        align-items: flex-start;
    }

    footer div.footer-left p {
        font-size: 0.9em;
    }

    footer div.footer-mid .text p {
        padding: 3px 0;
        cursor: pointer;
    }

    footer div.footer-top .redes {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    footer div.footer-top .redes i {
        margin-right: 5px;
    }

    footer div.footer-top .redes h4,
    footer div.footer-top .redes a {
        margin-bottom: 2vh;
        text-decoration: none;
        color: black;
    }

    footer div.subscribe {
        display: none;
    }

    footer div.copyright-info .redes {
        display: none;
    }

    footer div.copyright-info .logoCopy {
        display: none;
    }

    footer div.copyright-info {
        text-align: center;
        font-size: 1em;
        border-top: none;
    }

    footer div.footer-mid div.title {
        width: 100%;
        text-align: center;
    }

    footer div.footer-mid div.text {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }


    footer div.footer-top {
        display: flex;
        justify-content: space-between;
        padding: 2vh;
        align-items: flex-start;
    }

    footer div.footer-top .footer-left,
    footer div.footer-top .footer-mid,
    footer div.footer-top .footer-right{
        font-size: 0.8em;
    }


    footer div.footer-left .contacts h4 {
        padding: 5vw 0px;
        text-align: center;
    }


    footer div.footer-mid h4 {
        margin-bottom: 2vh;
    }


    footer div.footer-mid .text p {
        margin-bottom: 1vh;
    }


    footer div.footer-mid .text {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    header {
        height: 10vh;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        padding-left: 4vw;
        font-size: 1.8em;
    }

    header div.titulo {
        display: none;
    }

    header div.logo-header img {
        width: 15%;
    }

    header div.left-side {
        display: flex;
        flex: 1;
        align-items: center;
    }

    header div.right-side a.account,
    header div.right-side a.cart,
    header div.left-side a {
        margin: 0 2vw;
        text-decoration: none;
        color: black;
    }

    header div.left-side a:hover {
        border-bottom: 1px solid rgb(7, 107, 124);
        color: black;
    }

    header div.logo-header {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    header div.right-side {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    header div.right-side a.account {
        padding: 2%;
        border-radius: 10px;
        background-color: #709ce1;
        font-size: 12px;
        text-align: center;
    }

    header div.right-side a.account:hover {
        background-color: #648bc9;
    }

    header div.right-side a.cart {
        margin: 0;
        font-size: 1.4em;
    }


    main {
        width: 90%;
        margin: 0 auto;
    }

    main section.librosMasVendidos a,
    main section.offers a,
    main section.interest a {
        text-decoration: none;
        color: white;
    }

    main section article img {
        width: 15vw;
    }


    main section article button.btn-compra:hover {
        background-color: #87b9d1;
    }

    div.burger-menu {
        display: none;
    }

    footer {
        align-items: center;
    }

    footer div.footer-top {
        display: flex;
        justify-content: space-between;
        padding: 2vh;
        align-items: flex-start;
    }

    footer div.footer-left .contacts h4 {
        padding: 2vw 0px;
        text-align: center;
    }

    footer div.footer-left p {
        font-size: 0.9em;
    }

    footer div.footer-mid .text p {
        padding: 3px 0;
    }

    footer div.footer-top .redes {
        display: none;
    }

    footer div.copyright-info div.redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
    }

    footer div.subscribe {
        display: block;
        width: 75%;
    }

    footer div.subscribe div.mail {
        margin-top: 2vh;
    }

    footer div.footer-right div.subscribe div.mail form {
        display: flex;
    }

    footer div.subscribe .mail button,
    footer div.subscribe .mail input {
        padding: 15px 12px;
        border-style: none;
        outline: none;
    }

    footer div.subscribe .mail input {
        border-radius: 8px 0 0 8px;
        width: 100%;
    }

    footer div.copyright-info .logoCopy {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
    }

    footer div.footer-mid h4 {
        margin-bottom: 2vh;
    }

    footer div.footer-mid .text p {
        margin-bottom: 1vh;
    }

    footer div.footer-mid .text {
        display: flex;
        flex-direction: column;
    }

    footer div.subscribe .mail button {
        background-color: #478eff;
        color: white;
        cursor: pointer;
        border-radius: 0 8px 8px 0;
    }

    footer div.copyright-info {
        display: flex;
        text-align: center;
        font-size: 1em;
        padding: 2vh;
        align-items: center;
    }

    footer div.copyright-info span {
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        margin-right: 2%;
    }

    footer div.copyright-info div.copyright-txt span {
        font-size: 0.8em;
    }

    footer div.copyright-info div.copyright-txt {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    footer div.copyright-info div.redes i {
        font-size: 1.5em;
        margin: 0 2vw;
        color: black;
        text-decoration: none;
    }

    footer div.footer-left .contacts {
        display: flex;
        flex-direction: column;
    }

    footer div.footer-left {
        width: 75vw;
    }

    footer div.footer-top .footer-left, footer div.footer-top .footer-mid, footer div.footer-top .footer-right {
        font-size: 1em;
    }
}